@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Puzzzle #51</h1>

<p>This is a .NET 8 Blazor Web App with Global Server Interactivity.</p>
<p>The Counter page shows an additional text input that's bound to a string.</p>
<p>When the counter is incremented, the string value is set to the counter's ToString() implementation.</p>
<p>Incrementing the counter updates the input box, until you enter a value then it stops working!</p>
<p>Can you fix it?</p>
